@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Rubik&family=Inter&display=swap');

#app {
  width: 80dvw;
  margin: 0 10dvw;
  /* padding: 2rem; */
  /*font-weight: normal;*/
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;

    header nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: thin solid #ffffff;
      margin: 1dvh 0;
      font-family: "Rubik", sans-serif;
      font-weight: 700;
      font-size: 1.25rem;

      ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;

        li {}
      }
    }
  }
}
